<ion-header>
  <ion-navbar color="primary">
    <img [src]="logo" width="40px" style="display:inline-block" height="40px"/>
    <ion-title class="titleicon" style="display:inline-block">Fireside</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button class="main-button" (click)="createSession()" color="dark" ion-button full>{{ session ? session : 'Create a Session' }}</button>
  <button class="main-button" (click)="selectLanguage()" color="dark" ion-button full>{{ speechLanguage ? speechLanguage : 'Select Speech Language' }}</button>
  <button class="main-button" (click)="identify()" color="dark" ion-button full>{{ identity ? identity : 'Select Identity' }}</button>
  <button
    *ngIf="session && speechLanguage && identity"
    class="main-button"
    (click)="record()" ion-button full>Record Voice</button>
  <ion-card *ngIf="transcription">
    <ion-card-content>
      <ion-card-title>
        Recent Transcription
      </ion-card-title>
      <p>{{ transcription }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
